/* CONTACT US */
.contact-us {
    background-color: lightseagreen;
    padding: 60px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  
  .contact-us__form-title {
    color: $color-1;
    margin: 20px;
    padding: 10px; }
  
  .contact-us__form-area {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md) {
      height: 350px;
      width: 600px;
      flex-direction: row;
    }
   }
  
  .contact-us__form-area__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      margin-right: 30px;
    }
  }
  
  .contact-us__form-area__text {
    height: 89px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    @include media-breakpoint-up(md) {
      height: 172px;
      margin-top: 0px;
      padding: 6px 12px;
    }
  }
  
  .contact-us__form-area__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
  }
  
  .contact-us__form-area__form-group {
    display: flex;
    flex-direction: column;
  }
  
  .contact-us__form-area__label {
    margin-right: 5px;
    white-space: nowrap; 
    color: $color-1;
    margin-bottom: 10px;
  }
  
  .form-email {
    margin-top: 2px;
    margin-bottom: 2px; 
  }
  
  .form-input {
   width: 100%;
   box-sizing: border-box;
   grid-column: 2;
   justify-self: flex-end; 
  }
  
  .enviar {
    justify-self: flex-end; 
    margin-top: 20px;
  }
  
  .form-response {
    background-color: $color-2;
    border-radius: 4px;
    padding: 30px 80px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  }
  
  .response-text{
    font-weight: bold;
    color: $color-1;
    text-transform: uppercase;
    margin: 0px;
  }