
/* Barra de navegación */
.navibar {
  list-style-type: none;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: $color-3;
  transition: background-color 0.5s;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: flex-end;
    transition: opacity 0.5s;
  }
}

.navibar__top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.navibar__icon {
  width: 100px;
  height: 80px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  margin-right: auto;
  background-position: center;
  background-size: cover;
 }

.navibar__toggle {
  color: $color-1;
  cursor: pointer;
  padding-right: 15px;
  font-size: 30px; 
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navibar__toggle--clicked {
  i {
    color: #7c53a5;
  }
}

.navibar__btns-container {
  list-style: none;
  display: none;
  margin: 0px;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
    height: 80px;
  }
}

.navibar__btns-container--active {
  display: block;
  background-color: $color-3;
  color: $color-1;
  width: 100vw;
  padding-left: 0px;
  transition: background-color 0.5s, color 0.5s;
}

.navibar__btns-container__btn {
  text-align: center;
  padding: 10px 15px;
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }
  
li a {
  color: $color-1;
  transition: color 0.5s;
  padding: 14px 10px;
 }

li a:hover {
  color: $color-2; }

.navibar--hidden {
  background-color: $color-1;
  @include media-breakpoint-up(md) {
    background-color: transparent;
  }
  li a {
    color: $color-2; }
  .navibar__toggle {
    color: $color-2;
  }
  .navibar__toggle--clicked {
    i {
      color: $color-3;
    }
  }
  .navibar__btns-container--active {
    background-color: $color-1;
    color: $color-2;
  }
}