/* Header */
.guti-header {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative; }

.guti-header__title-container {
  margin: auto; }

.guti-header__title {
  color: $color-2;
}

/* Sección "ACERCA DE" */
.about-us > h2 {
  color: $color-1;
  margin-bottom: 20px; }

.about-us {
  padding: 60px;
  background-color: $color-2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between; }

.about-us {
  p {
  margin-bottom: 100px;
  text-align: justify; 
  }
}

/* Sección "MIEMBROS" */
.members {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  position: relative;  
  align-items: center;
  justify-content: center;
  padding: 60px; }

.members__title {
  color:$color-1;
  text-justify: center;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em; }

.members__portraits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em; }

.members__portraits-container__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.members__portrait {
  position: relative;
  border-color: $color-1;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  margin: 20px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden; }

.members__portrait:hover .members__portrait__name {
  opacity: 1; }

.members__portrait:hover .members__portrait__img {
  opacity: 0; }

.members__portrait__name {
  position: absolute;
  margin: 0;
  opacity: 0;
  transition: 0.3s;
  color: $color-1; }

.members__portrait__img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  transition: 0.3s;
  }

/* Sección "GALERÍA" */

.gallery {
  background-color: lightsteelblue;
  padding: 30px 10px;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include media-breakpoint-up(md) {
    padding: 20px 60px 60px 60px;
  }
}

.gallery__content {
  width: 85%;
  height: 85%;
} 

.gallery__slider {
  max-width: 1000px;
  margin: 0 auto;
}

.gallery__slide-container {
  padding: 15px 15px 0;
}

.gallery__slide__image {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 9px 34px 0px rgba(0,0,0,0.14);
  border-radius: 5px;

  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.slick-dots {
  visibility: hidden; }

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-3; }

footer {
  p {
  color:$color-1;
  }
}