$baseFontsSrc: '../fonts/';
@mixin fonts($fonts) {
  @each $fontName, $variants in $fonts {
    @each $variant in $variants {
      @font-face {
        font-family: $fontName;
        font-style: map-get($variant, font-style);
        font-weight: map-get($variant, font-weight);
        src: url($baseFontsSrc + map-get($variant, src)) format(map-get($variant, format));
      }
    }
  }
}

$fonts: (
  'Lato':
    (
      (
        font-style: normal,
        font-weight: 300,
        src: 'Lato-Light.ttf',
        format: 'TrueType'
      ),
      (
        font-style: normal,
        font-weight: 400,
        src: 'Lato-Regular.ttf',
        format: 'TrueType'
      ),
      (
        font-style: italic,
        font-weight: 400,
        src: 'Lato-Italic.ttf',
        format: 'TrueType'
      ),
      (
        font-style: normal,
        font-weight: 700,
        src: 'Lato-Bold.ttf',
        format: 'TrueType'
      ),
      (
        font-style: normal,
        font-weight: 900,
        src: 'Lato-Black.ttf',
        format: 'TrueType'
      )
    )
);

@include fonts($fonts);